json export/Knowledge Retreival + Chatbot .yml
app:
  description: "You are CivilMind, an expert AI assistant for civil and structural\
    \ engineers. \nYou answer questions based strictly on Saudi Building Codes (SBC)\
    \ and Egyptian Codes (ECP).\nIf you don't find the answer in the documents, say\
    \ \"I don't have this information in the provided codes.\"\nAlways be precise\
    \ and cite the relevant code and section when possible.\nAnswer in the same language\
    \ as the user's question."
  icon: 📑
  icon_background: '#EFF1F5'
  icon_type: emoji
  mode: advanced-chat
  name: 'Knowledge Retreival + Chatbot '
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/groq:0.0.13@40bd415a13ff29ed4718de161fba152b4d829da43ced05222c1397514482c08f
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.1.3@66e156c4f612964c131c49168882e78c2cdfe366879506b97ad855b23c5d6d98
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: knowledge-retrieval
      id: 1711528914102-1711528915811
      selected: false
      source: '1711528914102'
      sourceHandle: source
      target: '1711528915811'
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1711528915811-1711528917469
      selected: false
      source: '1711528915811'
      sourceHandle: source
      target: '1711528917469'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: 1711528917469-1711528919501
      selected: false
      source: '1711528917469'
      sourceHandle: source
      target: '1711528919501'
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 73
      id: '1711528914102'
      position:
        x: 79.5
        y: 2634.5
      positionAbsolute:
        x: 79.5
        y: 2634.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - eGO0svphQfTIrkZVXoWA6IfG3CBqMW1NIvs18tkMoWgDCQn/LFemikdhAaPdmkKv
        - plhqJHGfQphf+vqDrmgMZ0nxCJnKX8bsnMAd7RmarhiT+v+1ivU0XCsMSwDSFvJF
        - qxZXfM4QDbhYiC3kLJ6pMhlwRg6/sTcGh8MBOA6HxcE9685QxpiHnM8Ga7pSHwrj
        desc: Allows you to query text content related to user questions from the
          Knowledge
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: jina-reranker-m0
            provider: langgenius/jina/jina
          score_threshold: 0.3
          top_k: 5
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: nomic-embed-text
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1711528914102'
        - sys.query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              frequency_penalty: 0
              max_tokens: 512
              presence_penalty: 0
              temperature: 0
              top_p: 1
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: Knowledge Retrieval
        type: knowledge-retrieval
      dragging: false
      height: 190
      id: '1711528915811'
      position:
        x: 362.5
        y: 2634.5
      positionAbsolute:
        x: 362.5
        y: 2634.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1711528915811'
          - result
        desc: Invoking large language models to answer questions or process natural
          language
        memory:
          query_prompt_template: 'Query: {{#sys.query#}}}


            Instructions: Answer completely based on the context above and your knowledge
            of SBC/ECP codes. Cite specific section numbers when possible.'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 3
        model:
          completion_params:
            temperature: 0.7
            top_p: 1
          mode: chat
          name: openai/gpt-oss-120b
          provider: langgenius/groq/groq
        prompt_template:
        - id: af146d3a-b9f4-4d54-8958-b486ffe751c6
          role: system
          text: 'You are CivilMind, an expert AI assistant specialized in:

            - Saudi Building Code (SBC): SBC 301, SBC 303, SBC 304

            - Egyptian Code of Practice (ECP): ECP 203, ECP 201


            ## Rules:

            1. Answer in the SAME language as the question (Arabic or English)

            2. If context contains relevant info → use it and cite section numbers

            3. If context is insufficient → use your expert knowledge of SBC/ECP

            4. Always give a complete, useful answer

            5. Never say "المعلومات غير متوفرة في الوثائق"

            6. Add disclaimer at end: "⚠️ للأغراض التعليمية فقط — يجب مراجعة مهندس
            مرخص"


            ## Context:

            {{#context#}}'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 148
      id: '1711528917469'
      position:
        x: 822.3898167292714
        y: 2634.5
      positionAbsolute:
        x: 822.3898167292714
        y: 2634.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1711528917469.text#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 102
      id: '1711528919501'
      position:
        x: 1145.9806521077933
        y: 2634.5
      positionAbsolute:
        x: 1145.9806521077933
        y: 2634.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 127.91017636815036
      y: -1945.8866232927044
      zoom: 0.8493340619224369
  rag_pipeline_variables: []
